# Pandas: DataFrame 

- A pre-defined class in Pandas

In [2]:
# Importing Pandas library 
import pandas as pd

### `Creating an empty DataFrame`

In [3]:
# Creating empty DataFrame
df = pd.DataFrame()
print(df) 
print(type(df))

Empty DataFrame
Columns: []
Index: []
<class 'pandas.core.frame.DataFrame'>

### `Creating a DataFrame by using List`

In [4]:
# Creating DataFrame using single list 
a = [10, 20, 30, 40, 50, 60, 70, 80, 90]
df = pd.DataFrame(a) 
print(df) 
print(type(df))

    0
0  10
1  20
2  30
3  40
4  50
5  60
6  70
7  80
8  90
<class 'pandas.core.frame.DataFrame'>

In [5]:
names = ["Pushpa", "RRR", "KGF", "Bahubali", "Tiger"]
df = pd.DataFrame(names)
print(df)

          0
0    Pushpa
1       RRR
2       KGF
3  Bahubali
4     Tiger

In [6]:
# Creating single column DataFrame and checking length 
print(df) 
print()
print(f"The length of the dataframe is: {len(df)}")

          0
0    Pushpa
1       RRR
2       KGF
3  Bahubali
4     Tiger

The length of the dataframe is: 5

### `Creating a DataFrame by using list of lists`

In [7]:
# Creating DataFrame by using list of lists 
details = [
    [1, "Allu Arjun"],
    [2, "Ram Charan"],
    [3, "Suriya"],
    [4, "Karthi"],
    [5, "Jr.NTR"],
    [6, "Ravi"],
    [7, "Ram"]
]

df = pd.DataFrame(details) 
print(df)

   0           1
0  1  Allu Arjun
1  2  Ram Charan
2  3      Suriya
3  4      Karthi
4  5      Jr.NTR
5  6        Ravi
6  7         Ram

In [13]:
# Creating DataFrame and giving names to columns 
details = [
    [1, "Allu Arjun", 700000000],
    [2, "Ram Charan", 600000000],
    [3, "Suriya", 500000000],
    [4, "Karthi", 400000000],
    [5, "Jr.NTR", 300000000],
    [6, "Ravi", 200000000],
    [7, "Ram", 100000000]
]
i = ['row1', 'row2', 'row3', 'row4', 'row5', 'row6', 'row7']
cols = ["S.No", "Name", "Remuneration"]
df = pd.DataFrame(details, columns = cols, index = i)
df

      S.No        Name  Remuneration
row1     1  Allu Arjun     700000000
row2     2  Ram Charan     600000000
row3     3      Suriya     500000000
row4     4      Karthi     400000000
row5     5      Jr.NTR     300000000
row6     6        Ravi     200000000
row7     7         Ram     100000000

### `Creating a DataFrame by using Dictionary`

In [12]:
details = {
    "Name": ["Bunny", "Ram Charan", "NTR", "Nani", "Ravi"],
    "Age": [41, 38, 40, 37, 51]
}

df = pd.DataFrame(details) 
df

         Name  Age
0       Bunny   41
1  Ram Charan   38
2         NTR   40
3        Nani   37
4        Ravi   51

### `Creating DataFrame by loading the files`

In [14]:
df = pd.read_csv("sales1.csv") 
df

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

In [16]:
# load pandas and json modules                                                                                               
import pandas as pd
import json

# json string                                                                                                                
s = '{"col1":{"row1":1,"row2":2,"row3":3},"col2":{"row1":"x","row2":"y","row3":"z"}}'

# read json to data frame                                                                                                    
df = pd.read_json(s)
print(df)

      col1 col2
row1     1    x
row2     2    y
row3     3    z

In [19]:
import requests
from pandas import json_normalize
import pandas as pd

url = "https://api.exchangerate-api.com/v4/latest/USD"
response = requests.get(url)
data = response.json()

# Use json_normalize as usual
normalized_data = json_normalize(data)
normalized_data

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates.USD,rates.AED,rates.AFN,rates.ALL,...,rates.WST,rates.XAF,rates.XCD,rates.XDR,rates.XOF,rates.XPF,rates.YER,rates.ZAR,rates.ZMW,rates.ZWL
0,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2023-11-16,1700092801,1,3.67,73.52,96.4,...,2.75,604.43,2.7,0.754,604.43,109.96,249.2,18.19,23.09,5777.35

In [20]:
# pip install xlrd

In [21]:
# pd.read_excel("files name with path")

In [22]:
# df = pd.read_excel("sales1.xlsx")

In [23]:
# df = pd.read_table("sales1.tsv") 
# Tab Separated File (tsv)

In [24]:
# pd.read_html("url") 
# url = "paste_the_link_here"
# df = pd.read_html(url)

## Pandas: DataFrame Attributes:

## Pandas: DataFrame Methods:

## Pandas: DataFrame: Renaming Column, Index:

## Pandas: DataFrame: Inplace Parameter:

## Pandas: DataFrame: Missing Values:

## Pandas: DataFrame: iloc and loc:

## Pandas: DataFrame: Filtering:

## Pandas: DataFrame: Sorting:

## Pandas: DataFrame: groupby:

## Pandas: DataFrame: Merging and Joining:

## Pandas: DataFrame: Concat:

## Pandas: DataFrame: Adding, Grouping:

## Pandas: DataFrame: Data and Time:

## Pandas: DataFrame: Concat Multiple csv files: